@font-face {
    font-family: "adieue";
    src: url("../tipografias/adineuePRO-Regular.ttf");
}

@font-face {
    font-family: "adieue light";
    src: url("../tipografias/adineueTEXT-Light.ttf");
}

nav.navbar {
    background-color: rgb(255, 255, 255) !important;
}

.navbar .container-fluid .collapse .navbar-nav .nav-item a {
    font-family: "adieue";
    font-size: 17px;
}

.boton-explorar {
    margin-top: 4%;
    text-decoration: none;
    padding: 1% 5% 1% 5%;
    border: solid 2px #000;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    font-family: "adieue";
}

.zoomContainer {
    left: 67% !important;
}

#tidio-chat-iframe {
    margin-bottom: -30px !important;
}


/* Estilos para el modal de busqueda */

.body-scroll {
    overflow: hidden !important;
}

.div-modal {
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(28, 28, 28, 0.7);
}

.div-modal .contenedor-modal {
    width: 60%;
    padding-top: 2%;
    padding-bottom: 2%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    position: relative;
    transition: transform 1s;
    transform: translateY(0%);
}

.div-modal .modal-cerrar {
    transition: transform 1s;
    transform: translateY(-500%);
}

.div-modal .contenedor-modal .div-cuerpo {
    width: 90%;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px #ff6b00;
}

.div-modal .contenedor-modal .div-cuerpo .img-lupa {
    margin-right: 10px;
    width: 25px;
}

.div-modal .contenedor-modal .div-cuerpo .img-cerrar {
    width: 25px;
    cursor: pointer;
}

.div-modal .contenedor-modal .div-cuerpo input {
    border: none;
    width: 90%;
}

.div-modal .contenedor-modal .div-cuerpo input:focus {
    outline: none;
}

.div-modal .contenedor-modal .caja-resultados {
    width: 90%;
    height: 300px;
    overflow-y: auto;
    display: none;
}

.div-modal .contenedor-modal .caja-resultados ul {
    width: 90%;
    list-style: none;
    padding-left: 3%;
    padding-top: 3%;
}

.div-modal .contenedor-modal .caja-resultados ul li {
    height: 35px;
}

.div-modal .contenedor-modal .caja-resultados ul li a {
    text-decoration: none;
    color: rgb(102, 101, 101);
}

.div-modal .contenedor-modal .caja-resultados ul li a i {
    margin-right: 10px;
}

@media (max-width: 767px) {
    .div-modal .contenedor-modal {
        width: 90%;
    }
}


/* Estilos para la seccion de inicio */

.seccion-inicio {
    width: 100%;
    height: 90vh;
    margin-top: 10vh;
}

.seccion-inicio .div-general-texto {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seccion-inicio .div-texto {
    width: 80%;
    text-align: justify;
}

.seccion-inicio .div-texto h1 {
    font-family: "adieue";
    font-size: 68px;
    color: #fff;
}

.seccion-inicio .div-texto p {
    width: 100%;
    font-family: "adieue";
    font-size: 35px;
    color: #fff;
    text-align: justify;
    line-height: 35px;
}

.seccion-inicio .div-general-imagen {
    height: 90vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.seccion-inicio .div-general-imagen img {
    width: 90%;
}

.seccion-inicio .div-fondo {
    position: absolute;
    height: 90vh;
    width: 100%;
    background: url("../images/compraYa/CompraYa-Fondo2-min.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: -1;
}

@media (max-width: 991px) {
    .seccion-inicio .div-general-texto {
        height: 50vh;
        padding-top: 4%;
        align-items: flex-start;
    }
    .seccion-inicio .div-general-texto .div-texto {
        width: 90%;
    }
    .seccion-inicio .div-general-texto .div-texto h1 {
        text-align: center;
    }
    .seccion-inicio .div-general-imagen {
        height: 50vh;
        justify-content: center;
    }
    .seccion-inicio .div-general-imagen img {
        margin-bottom: 10%;
    }
}

@media (max-width: 767px) {
    .seccion-inicio .div-general-texto .div-texto h1 {
        font-size: 60px;
    }
    .seccion-inicio .div-texto p {
        font-size: 30px;
        text-align: justify;
    }
}

@media (max-width: 450px) {
    .seccion-inicio .div-general-texto {
        height: 45vh;
        padding-top: 0;
        padding-bottom: 15%;
        align-items: flex-end;
    }
    .seccion-inicio .div-general-imagen {
        height: 45vh;
    }
    .seccion-inicio .div-general-texto .div-texto h1 {
        font-size: 50px;
    }
    .seccion-inicio .div-texto p {
        font-size: 20px;
        text-align: justify;
    }
    .seccion-inicio .div-fondo {
        background: url("../images/compraYa/CompraYa-Fondo2-m-min.png");
    }
    .seccion-inicio .div-general-imagen img {
        width: 100%;
        margin-bottom: 10%;
    }
}

@media (max-width: 320px) {
    .seccion-inicio .div-general-texto {
        padding-top: 40%;
    }
    .seccion-inicio .div-general-texto .div-texto h1 {
        font-size: 40px;
    }
    .seccion-inicio .div-texto p {
        font-size: 20px;
        text-align: justify;
    }
}


/* Estilos para la seccion de asociados */

.seccion-asociados {
    height: auto;
    width: 100%;
}

.seccion-asociados .div-imagen {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.seccion-asociados .div-imagen img {
    width: 100%;
}

.seccion-asociados .div-general-texto {
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.seccion-asociados .div-general-texto .div-texto {
    width: 90%;
}

.seccion-asociados .div-general-texto .div-texto h2 {
    font-family: "adieue";
    font-size: 60px;
    color: #fff;
}

.seccion-asociados .div-general-texto .div-texto p {
    width: 90%;
    margin-left: 0px;
    font-family: "adieue";
    font-size: 25px;
    color: #fff;
    text-align: justify;
}

.seccion-asociados .div-fondo {
    position: absolute;
    height: 100%;
    width: 100%;
    background: url("../images/compraYa/CompraYa-Asociados-F-min.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: -1;
}

.seccion-asociados .div-general-texto .div-imagen-movil {
    display: none;
}

@media (max-width: 1000px) {
    .seccion-asociados .div-general-texto .div-texto h2 {
        font-size: 50px;
    }
    .seccion-asociados .div-general-texto .div-texto p {
        font-size: 20px;
    }
}

@media (max-width: 767px) {
    .seccion-asociados .div-general-texto {
        justify-content: center;
        flex-direction: column;
        margin-top: 10%;
        width: 100%;
    }
    .seccion-asociados .div-general-texto .div-imagen-movil {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .seccion-asociados .div-general-texto .div-imagen-movil img {
        width: 90%;
    }
    .seccion-asociados .div-imagen {
        display: none;
    }
    .seccion-asociados .div-general-texto .div-texto {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .seccion-asociados .div-general-texto .div-texto h2 {
        font-size: 50px;
    }
    .seccion-asociados .div-general-texto .div-texto p {
        font-size: 30px;
        width: 95%;
    }
}

@media (max-width: 450px) {
    .seccion-asociados .div-general-texto .div-texto p {
        text-align: justify;
    }
    .seccion-asociados .div-general-texto .div-texto h2 {
        font-size: 50px;
    }
    .seccion-asociados .div-general-texto .div-texto p {
        font-size: 20px;
    }
}


/* Estlos para la seccion de productos individuales */

.seccion-productos-individuales {
    height: auto;
    width: 100%;
}

.seccion-productos-individuales .div-titulo {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a2d40a;
}

.seccion-productos-individuales .div-titulo h2 {
    font-family: "adieue";
    font-size: 60px;
    color: #fff;
    text-align: center;
}

.seccion-productos-individuales .div-general-productos {
    height: auto;
    padding-top: 5%;
    margin-bottom: 5%;
    background-color: rgb(255, 255, 255);
}

.seccion-productos-individuales .div-general-productos .div-producto {
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seccion-productos-individuales .div-general-productos .div-producto .div-contenedor .img-pronto {
    position: absolute;
    width: 125px;
    margin-top: -1.9%;
}

.seccion-productos-individuales .div-general-productos .div-producto .div-contenedor {
    width: 85%;
    height: 85%;
    display: flex;
}

.seccion-productos-individuales .div-general-productos .div-producto .div-contenedor .div-imagen {
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seccion-productos-individuales .div-general-productos .div-producto .div-contenedor .div-imagen:not(.div-centrar) {
    justify-content: right;
}

.seccion-productos-individuales .div-general-productos .div-producto .div-contenedor .div-imagen img {
    width: 90%;
}

.seccion-productos-individuales .div-general-productos .div-producto .div-contenedor .div-imagen .img-DoreYa {
    width: 75%;
}

.seccion-productos-individuales .div-general-productos .div-producto .div-contenedor .div-derecho {
    width: 55%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.seccion-productos-individuales .div-general-productos .div-producto .div-contenedor .div-derecho h3 {
    font-family: "adieue";
    font-size: 45px;
}

.seccion-productos-individuales .div-general-productos .div-producto .div-contenedor .div-derecho a {
    margin-top: 10%;
    padding: 2% 5% 2% 5%;
    font-family: "adieue";
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}

@media (max-width: 850px) {
    .seccion-productos-individuales .div-general-productos .div-producto .div-contenedor .div-derecho h3 {
        font-size: 30px;
        text-align: center;
    }
}

@media (max-width: 767px) {
    .seccion-productos-individuales .div-general-productos .div-producto .div-contenedor .div-imagen .img-MJYa {
        width: 75%;
    }
    .seccion-productos-individuales .div-general-productos .div-producto .div-contenedor .div-imagen .img-UPPYa {
        width: 75%;
    }
    .seccion-productos-individuales .div-general-productos .div-producto .div-contenedor .div-imagen .img-DoreYa {
        width: 68%;
    }
    .seccion-productos-individuales .div-general-productos .div-producto .div-contenedor .img-pronto {
        width: 125px;
        margin-top: -3.5%;
    }
}

@media (max-width: 450px) {
    .seccion-productos-individuales .div-titulo h2 {
        width: 90%;
        font-size: 40px;
    }
    .seccion-productos-individuales .div-general-productos .div-producto {
        height: 230px;
        padding-top: 5%;
        padding-bottom: 5%;
    }
    .seccion-productos-individuales .div-general-productos .div-producto .div-contenedor {
        width: 90%;
        height: 100%;
    }
    .seccion-productos-individuales .div-general-productos .div-producto .div-contenedor .div-derecho h3 {
        text-align: center;
    }
    .seccion-productos-individuales .div-general-productos .div-producto .div-contenedor .div-derecho a {
        margin-top: 10%;
        font-size: 18px;
    }
    .seccion-productos-individuales .div-general-productos .div-producto .div-contenedor .div-imagen .img-SiluetabsYa {
        margin-right: -10%;
    }
    .seccion-productos-individuales .div-general-productos .div-producto .div-contenedor .img-pronto {
        width: 100px;
        margin-top: -5.5%;
    }
}


/* Estilos para la seccion de paquete activa */

.div-paquete-Activa {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../images/Fondo-de-Paquete-ActivaYa-min.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.div-paquete-Activa .div-izquierdo {
    margin-left: 8.5%;
}

.div-paquete-Activa .div-izquierdo p {
    font-family: "adieue";
    font-size: 25px;
    text-align: center;
    color: #fff;
    font-weight: bold;
}

.div-paquete-Activa .div-izquierdo img {
    margin-left: 20%;
}

.div-paquete-Activa .div-central {
    height: 100vh;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.div-paquete-Activa .div-central img {
    width: 80%;
}

.div-paquete-Activa .div-central .imagen-productos {
    margin-top: 9%;
}

.div-paquete-Activa .div-text-responsivo {
    width: 95%;
    margin-top: 5%;
    text-align: center;
    display: none;
}

.div-paquete-Activa .div-text-responsivo h3 {
    font-family: "adieue";
    font-size: 45px;
    color: #fff;
    font-weight: bold;
}

.div-paquete-Activa .div-text-responsivo p {
    width: 100%;
    font-family: "adieue";
    font-size: 20px;
    color: #fff;
    text-shadow: 1px 1px 20px #ff6b00;
}

.div-paquete-Activa .div-derecho {
    margin-top: 5%;
}

.div-paquete-Activa .div-derecho p {
    width: 100%;
    font-family: "adieue";
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 1px 20px #ff6b00;
}

@media (max-width: 890px) {
    .div-paquete-Activa .div-derecho p {
        font-size: 17px;
    }
    .div-paquete-Activa .div-izquierdo img {
        height: 100px;
    }
    .div-paquete-Activa .div-izquierdo p {
        font-size: 24px;
    }
}

@media (max-width: 850px) {
    .div-paquete-Activa {
        height: auto;
        padding-top: 10%;
        padding-bottom: 10%;
    }
    .div-paquete-Activa .div-central {
        height: auto;
    }
}

@media (max-width: 650px) {
    .div-paquete-Activa {
        flex-direction: column;
    }
    .div-paquete-Activa .div-text-responsivo {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .div-paquete-Activa .div-derecho {
        display: none;
    }
    .div-paquete-Activa .div-izquierdo {
        display: none;
    }
    .div-paquete-Activa .div-central .boton-explorar-eliminar {
        display: none !important;
    }
    .div-paquete-Activa .div-central {
        width: 90%;
    }
    .div-paquete-Activa .div-central img {
        width: 80%;
    }
}

@media (max-width: 450px) {
    .div-paquete-Activa {
        padding-top: 30%;
    }
    .div-paquete-Activa .div-text-responsivo h3 {
        font-size: 35px;
    }
    .div-paquete-Activa .div-central .imagen-productos {
        margin-top: 25%;
    }
}

@media (max-width: 325px) {
    .div-paquete-Activa .div-central .imagen-productos {
        margin-top: 30%;
    }
    .div-paquete-Activa .div-text-responsivo {
        margin-top: 10%;
    }
}


/* Estilos para paquetes duosYa */

.div-paquetes-duosYa {
    height: auto;
    width: 100%;
}

.div-paquetes-duosYa .div-titulo {
    width: 100%;
    height: 225px;
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(162, 212, 10);
}

.div-paquetes-duosYa .div-titulo img {
    width: 34%;
}

.div-paquetes-duosYa .div-general-productos {
    height: auto;
    padding-top: 3%;
    background-color: #fff;
}

.div-paquetes-duosYa .div-general-productos .div-producto {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 2%;
    padding-bottom: 2%;
}

.div-paquetes-duosYa .div-general-productos .div-producto a {
    text-decoration: none;
    color: #000;
    text-align: center;
}

.div-paquetes-duosYa .div-general-productos .div-producto h3 {
    font-family: "adieue";
    font-size: 30px;
    text-align: center;
}

.div-paquetes-duosYa .div-general-productos .div-producto img {
    width: 70%;
}

@media (max-width: 680px) {
    .div-paquetes-duosYa .div-titulo {
        height: 200px;
    }
    .div-paquetes-duosYa .div-titulo img {
        width: 60%;
    }
}

@media (max-width: 680px) {
    .div-paquetes-duosYa .div-titulo img {
        width: 70%;
    }
}


/* Estilos para la pagina de producto */

.seccion-producto {
    height: auto;
    width: 100%;
    display: flex;
    align-items: flex-end;
}

.seccion-producto .div-general-producto {
    height: auto;
    width: 100%;
    margin-top: 10%;
    margin-bottom: 3%;
    display: flex;
}

.seccion-producto .div-general-producto .div-informacion {
    height: auto;
    width: 60%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
}

.seccion-producto .div-general-producto .div-informacion .div-texto {
    width: 90%;
    height: auto;
}

.seccion-producto .div-general-producto .div-informacion .div-texto h1 {
    font-size: 45px;
    font-family: "adieue";
}

.seccion-producto .div-general-producto .div-informacion .div-texto h2 {
    font-size: 30px;
    font-family: "adieue";
}

.seccion-producto .div-general-producto .div-informacion .div-texto li,
p {
    width: 80%;
    margin-left: -1.5%;
    font-size: 20px;
    font-family: "adieue light";
    line-height: 23px
}

.seccion-producto .div-general-producto .div-informacion .div-texto p {
    margin-left: 0;
}

.seccion-producto .div-general-producto .div-informacion .div-general-botones {
    width: 90%;
    height: 40%;
}

.seccion-producto .div-general-producto .div-informacion .div-general-botones p {
    font-size: 27px;
    font-family: "adieue";
}

.seccion-producto .div-general-producto .div-informacion .div-general-botones .div-btns {
    display: flex;
}

.seccion-producto .div-general-producto .div-informacion .div-general-botones .div-cantidad-btn {
    margin-right: 10%;
}

.seccion-producto .div-general-producto .div-informacion .div-general-botones .div-cantidad-btn button {
    width: 50px;
    height: 45px;
    border: none;
    font-size: 25px;
    font-family: "adieue light";
    background-color: rgb(242, 242, 242);
}

.seccion-producto .div-general-producto .div-informacion .div-general-botones .div-cantidad-btn label {
    width: 100px;
    font-size: 20px;
    font-family: "adieue";
    text-align: center;
}

.seccion-producto .div-general-producto .div-informacion .div-general-botones .div-btns .btn-agrregar-carrito {
    width: 160px;
    height: 45px;
    background: none;
    border: solid 3px rgb(255, 168, 14);
    font-size: 18px;
    font-family: "adieue";
    color: rgb(255, 168, 14);
}

.seccion-producto .div-general-producto .div-informacion .div-general-botones .btn-comprar-ahora {
    width: 205px;
    height: 45px;
    border: none;
    background-color: rgb(255, 106, 0);
    font-family: "adieue";
    font-size: 18px;
    color: #fff;
}

.seccion-producto .div-general-producto .div-imagenes {
    height: auto;
    width: 40%;
}

.seccion-producto .div-general-producto .div-imagenes .div-imagen-principal {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}

.seccion-producto .div-general-producto .div-imagenes .div-imagen-principal img {
    width: 60%;
    cursor: zoom-out;
}

.seccion-producto .div-general-producto .div-imagenes .div-mas-imagenes {
    height: 35%;
}

.seccion-producto .div-general-producto .div-imagenes .div-mas-imagenes .div-imagenes {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seccion-producto .div-general-producto .div-imagenes .div-mas-imagenes .div-imagenes img {
    width: 28%;
    cursor: pointer;
}

.seccion-producto .div-general-producto .div-imagenes .div-mas-imagenes .div-imagenes .img-central {
    border-left: solid 1px rgba(0, 0, 0, 0.616);
    border-right: solid 1px rgba(0, 0, 0, 0.616);
}

@media (max-width: 950px) {
    .seccion-producto .div-general-producto .div-informacion .div-texto h1 {
        font-size: 35px;
    }
    .seccion-producto .div-general-producto .div-informacion .div-texto h2 {
        font-size: 25px;
    }
    .seccion-producto .div-general-producto {
        margin-top: 13%;
    }
}

@media (max-width: 767px) {
    .seccion-producto .div-general-producto {
        margin-top: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }
    .seccion-producto .div-general-producto .div-informacion .div-general-botones {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .seccion-producto .div-general-producto .div-imagenes {
        height: auto;
        width: 95%;
        padding-bottom: 5%;
    }
    .seccion-producto .div-general-producto .div-informacion {
        width: 95%;
        align-items: center;
    }
    .seccion-producto .div-general-producto .div-informacion .div-texto h1,
    h2 {
        text-align: center;
    }
    .seccion-producto .div-general-producto .div-informacion .div-texto li {
        width: 90%;
        margin-left: 1%;
        font-size: 20px;
        text-align: justify;
    }
    .seccion-producto .div-general-producto .div-informacion .div-texto p {
        width: 90%;
        margin-left: 4%;
        font-size: 20px;
        text-align: justify;
    }
    .seccion-producto .div-general-producto .div-informacion .div-general-botones .div-btns {
        width: 97%;
    }
}

@media (max-width: 450px) {
    .seccion-producto .div-general-producto {
        margin-top: 30%;
        margin-bottom: 10%;
    }
    .seccion-producto .div-general-producto .div-imagenes {
        height: auto;
        width: 95%;
        padding-bottom: 5%;
    }
    .seccion-producto .div-general-producto .div-informacion {
        width: 95%;
        align-items: center;
    }
    .seccion-producto .div-general-producto .div-informacion .div-texto h1,
    h2 {
        text-align: center;
        font-size: 30px;
    }
    .seccion-producto .div-general-producto .div-informacion .div-texto {
        width: 100%;
    }
    .seccion-producto .div-general-producto .div-informacion .div-general-botones {
        width: 100%;
    }
    .seccion-producto .div-general-producto .div-informacion .div-general-botones .div-cantidad-btn {
        margin-right: 0;
    }
    .seccion-producto .div-general-producto .div-informacion .div-general-botones .div-btns {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}


/* Estilos para la seccion de DUOSYA */

.seccion-duosya {
    position: relative;
    height: auto;
}

.seccion-duosya .div-titulo {
    width: 100%;
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(254, 214, 0);
}

.seccion-duosya .div-titulo h2 {
    font-size: 42px;
    font-family: "adieue";
}

.seccion-duosya .swiper-container .swiper-wrapper .div-color-1 {
    height: auto;
    padding-top: 2%;
    padding-bottom: 2%;
}

.seccion-duosya .swiper-container .swiper-wrapper .div-color-2 {
    height: auto;
    padding-top: 2%;
    padding-bottom: 2%;
}

.seccion-duosya .swiper-container .swiper-wrapper .swiper-slide {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.seccion-duosya .swiper-container .swiper-wrapper .swiper-slide a {
    text-decoration: none;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.seccion-duosya .swiper-container .swiper-wrapper .swiper-slide .div-nombre {
    width: 90%;
    margin-top: 15%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seccion-duosya .swiper-container .swiper-wrapper .swiper-slide .div-nombre h3 {
    font-family: "adieue";
    font-size: 35px;
    color: #000;
}

.seccion-duosya .swiper-container .swiper-wrapper .swiper-slide .div-imagen {
    width: 90%;
    margin-top: 10%;
    text-align: center;
}

.seccion-duosya .swiper-container .swiper-wrapper .swiper-slide .div-imagen img {
    width: 80%;
    text-align: center;
}

.seccion-duosya .swiper-button-prev {
    margin-top: 7%;
    color: rgb(104, 102, 102);
    cursor: pointer;
}

.seccion-duosya .swiper-button-next {
    margin-top: 7%;
    color: rgb(104, 102, 102);
    cursor: pointer;
}

@media (max-width: 680px) {
    .seccion-duosya .div-titulo {
        height: 120px;
    }
}

@media (max-width: 450px) {
    .seccion-duosya .div-titulo {
        height: 100px;
    }
    .seccion-duosya .div-titulo h2 {
        font-size: 30px;
    }
}


/* Estilos para la pagina de App */

.seccion-inicio-app {
    height: 100vh;
    width: 100%;
    background: url("../images/imagen3-app-carrusel/App-Fondo-min.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: -1;
}

.seccion-inicio-app .div-general {
    height: 100%;
    width: 100%;
    display: flex;
}

.seccion-inicio-app .div-general .div-informacion {
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.seccion-inicio-app .div-general .div-informacion .logotipo-siluetaYa {
    width: 45%;
}

.seccion-inicio-app .div-general .div-informacion p {
    font-family: "adieue";
    font-size: 30px;
    color: #fff;
    text-align: center;
}

.seccion-inicio-app .div-general .div-informacion .div-tiendas {
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seccion-inicio-app .div-general .div-informacion .div-tiendas a {
    text-decoration: none;
}

.seccion-inicio-app .div-general .div-informacion .div-tiendas .a-play {
    margin-right: 10%;
}

.seccion-inicio-app .div-general .div-informacion .div-tiendas a img {
    width: 200px;
}

.seccion-inicio-app .div-general .div-informacion .p-version {
    font-family: "adieue light" !important;
    font-size: 20px !important;
}

.seccion-inicio-app .div-general .div-celular {
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.seccion-inicio-app .div-general .div-celular img {
    margin-top: 15%;
    width: 65%;
    margin-left: -8%;
}

@media (max-width: 767px) {
    .seccion-inicio-app {
        height: auto;
        padding-top: 5%;
        padding-bottom: 5%;
    }
    .seccion-inicio-app .div-general {
        flex-direction: column-reverse;
    }
    .seccion-inicio-app .div-general .div-informacion {
        height: 100%;
        width: 100%;
    }
    .seccion-inicio-app .div-general .div-celular {
        width: 100%;
        justify-content: center;
    }
    .seccion-inicio-app .div-general .div-celular img {
        width: 45%;
        margin-left: 0;
    }
}

@media (max-width: 450px) {
    .seccion-inicio-app {
        margin-top: 10vh;
        padding-bottom: 15%;
    }
    .seccion-inicio-app .div-general .div-informacion {
        height: 50%;
        width: 100%;
    }
    .seccion-inicio-app .div-general .div-informacion p {
        font-size: 25px;
    }
    .seccion-inicio-app .div-general .div-informacion .logotipo-siluetaYa {
        width: 75%;
    }
    .seccion-inicio-app .div-general .div-celular {
        height: 50%;
        width: 100%;
        margin-top: 15%;
        margin-bottom: 10%;
        align-items: center;
    }
    .seccion-inicio-app .div-general .div-celular img {
        width: 70%;
        margin-top: 0;
    }
    .seccion-inicio-app .div-general .div-informacion .div-tiendas {
        flex-direction: column;
    }
    .seccion-inicio-app .div-general .div-informacion .div-tiendas .a-play {
        margin-right: 0;
    }
}


/* Estilos para el footer */

footer {
    width: 100%;
    height: auto;
    padding-top: 3%;
    padding-bottom: 50px;
    background-color: #ffa400;
}

footer .div-logo {
    height: auto;
    display: flex;
    align-items: center;
}

footer .div-logo img {
    margin-left: 5%;
    width: 200;
    height: 98;
}

footer .div-leyenda {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .div-leyenda p {
    width: 85%;
    font-family: "adieue";
    font-size: 20px;
    color: #fff;
    text-align: center;
}

footer .div-leyenda p a {
    text-decoration: none;
    color: #fff;
}

footer .div-redes-sociales {
    height: auto;
    display: flex;
    align-items: center;
}

footer .div-redes-sociales .div-iconos {
    width: 100%;
    display: flex;
    justify-content: right;
}

footer .div-redes-sociales .div-iconos a {
    margin-left: 5%;
    font-size: 25px;
    color: #fff;
}

@media (max-width: 575px) {
    footer .div-logo {
        justify-content: center;
    }
    footer .div-redes-sociales .div-iconos {
        justify-content: center;
    }
}