@font-face {
    font-family: "adieue";
    src: url("../tipografias/adineuePRO-Regular.ttf");
}

@font-face {
    font-family: "adieue light";
    src: url("../tipografias/adineueTEXT-Light.ttf");
}

nav.navbar {
    background-color: #fff !important;
}

.navbar .container-fluid .collapse .navbar-nav .nav-item a {
    font-family: "adieue";
}


/* Estilos para la seccion de inicio */

.seccion-principal {
    height: 100vh;
    width: 100%;
}

.seccion-principal .div-fondo {
    position: absolute;
    height: 100vh;
    width: 100%;
    background: url("../images/conocenosYa/ConocenosYa-Fondo-2-min.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.seccion-principal .div-general {
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: 1;
}

.seccion-principal .div-general .div-text {
    height: 40vh;
    width: 100%;
    text-align: center;
    padding-top: 8%;
}

.seccion-principal .div-general .div-text h1 {
    font-family: "adieue";
    font-size: 85px;
    color: #fff;
    text-align: center;
}

.seccion-principal .div-general .div-text p {
    font-family: "adieue";
    font-size: 40px;
    color: #fff;
    text-align: center;
}

.seccion-principal .div-general .div-foto {
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.seccion-principal .div-general .div-foto img {
    width: 95%;
    margin-bottom: 3%;
}

.seccion-principal .div-general .div-foto .img-movil {
    display: none;
}

@media (max-width: 900px) {
    .seccion-principal .div-general .div-text {
        padding-top: 14%;
    }
}

@media (max-width: 650px) {
    .seccion-principal .div-general .div-text {
        padding-top: 25%;
    }
    .seccion-principal .div-general .div-text h1 {
        width: 95%;
        font-size: 70px;
    }
    .seccion-principal .div-fondo {
        background: url("../images/conocenosYa/ConocenosYa-Fondo-2-m-min.png");
    }
}

@media (max-width: 450px) {
    .seccion-principal .div-general .div-text {
        padding-top: 35%;
    }
    .seccion-principal .div-general .div-text h1 {
        font-size: 50px;
    }
    .seccion-principal .div-general .div-foto .img-escritorio {
        display: none;
    }
    .seccion-principal .div-general .div-foto .img-movil {
        display: flex;
        width: 80%;
        margin-bottom: 10%;
    }
}


/* Estilos para la seccion de informacion */

.seccion-informacion {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seccion-informacion .div-text {
    width: 90%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.seccion-informacion .div-text h1 {
    font-family: "adieue";
    font-size: 40px;
    color: #000;
    text-align: center;
}

.seccion-informacion .div-text p {
    font-family: "adieue";
    font-size: 23px;
    color: #000;
    text-align: justify;
}

@media (max-width: 767px) {
    .seccion-informacion .div-text p {
        font-size: 20px;
    }
}


/* Estilos para la seccion de filosofia */

.seccion-filosofia {
    height: auto;
    width: 100%;
}

.seccion-filosofia .div-general-texto {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(11, 185, 121);
    background: linear-gradient(180deg, rgba(11, 185, 121, 1) 60%, rgba(252, 246, 139, 1) 100%);
}

.seccion-filosofia .div-text {
    width: 84%;
    height: auto;
    margin-top: 8%;
    margin-bottom: 5%;
}

.seccion-filosofia .div-text h2 {
    font-family: "adieue";
    font-size: 30px;
    color: #fff;
}

.seccion-filosofia .div-text p {
    font-family: "adieue";
    font-size: 23px;
    text-align: justify;
    margin-top: -2%;
    color: #fff;
}

.seccion-filosofia .div-text .div-ecambezado {
    margin-bottom: 5%;
}

.seccion-filosofia .div-text .div-ecambezado h1 {
    font-family: "adieue";
    font-size: 40px;
    color: #fff;
}

.seccion-filosofia .div-text .div-mision,
.div-vision,
.div-valores {
    margin-top: 5%;
}

.seccion-filosofia .div-text .div-valores {
    font-family: "adieue";
    font-size: 23px;
    color: #fff;
}

.seccion-filosofia .div-general-imagen {
    height: auto;
}

.seccion-filosofia .div-general-imagen .div-imagen-completa {
    height: 100%;
    background: url("../images/conocenosYa/Foto-de-arbol-de-tejocotes-min.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.seccion-filosofia .div-general-imagen .div-imagen {
    width: 100%;
    height: auto;
    display: none;
    justify-content: center;
    align-items: center;
}

.seccion-filosofia .div-general-imagen .div-imagen img {
    width: 100%;
}

@media (max-width: 767px) {
    .seccion-filosofia .div-text {
        width: 90%;
    }
    .seccion-filosofia .div-text p {
        font-size: 20px;
    }
    .seccion-filosofia .div-text .div-valores {
        font-size: 20px;
    }
    .seccion-filosofia .div-general-imagen .div-imagen-completa {
        display: none;
    }
    .seccion-filosofia .div-general-imagen .div-imagen {
        display: flex;
    }
}


/* Estilos para el footer */

footer {
    width: 100%;
    height: auto;
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: #ffa400;
}

footer .div-logo {
    height: auto;
    display: flex;
    align-items: center;
}

footer .div-logo img {
    margin-left: 5%;
    width: 200;
    height: 98;
}

footer .div-leyenda {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .div-leyenda p {
    width: 85%;
    font-family: "adieue";
    font-size: 20px;
    color: #fff;
    text-align: center;
}

footer .div-leyenda p a {
    text-decoration: none;
    color: #fff;
}

footer .div-redes-sociales {
    height: auto;
    display: flex;
    align-items: center;
}

footer .div-redes-sociales .div-iconos {
    width: 100%;
    display: flex;
    justify-content: right;
}

footer .div-redes-sociales .div-iconos a {
    margin-left: 5%;
    font-size: 25px;
    color: #fff;
}

@media (max-width: 575px) {
    footer .div-logo {
        justify-content: center;
    }
    footer .div-redes-sociales .div-iconos {
        justify-content: center;
    }
}


/* ---Estilos para la pagina de ContactaYa--- */


/* Estilos del titulo */

.seccion-titulo {
    width: 100%;
    height: 160px;
    margin-top: 14vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(254, 214, 0);
    background: radial-gradient(circle, rgba(254, 214, 0, 1) 0%, rgba(241, 109, 34, 1) 85%);
}

.seccion-titulo .div-general {
    width: 90%;
    text-align: center;
    color: #fff;
}

.seccion-titulo .div-general h1 {
    font-family: 'adieue';
    font-size: 60px;
}

.seccion-titulo .div-general p {
    font-family: 'adieue light';
    font-size: 30px;
}

@media (max-width: 450px) {
    .seccion-titulo .div-general h1 {
        font-family: 'adieue';
        font-size: 50px;
    }
    .seccion-titulo .div-general p {
        font-family: 'adieue light';
        font-size: 23px;
    }
}


/* Estilos para la seccion del formulario */

.seccion-formulario {
    height: auto;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.seccion-formulario .div-general {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seccion-formulario .div-general .div-foto {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seccion-formulario .div-general .div-foto img {
    width: 350px;
}

.seccion-formulario .div-general .div-formulario {
    width: 60%;
    height: 100%;
}

.seccion-formulario .div-general .div-formulario form {
    width: 95%;
    height: auto;
}

.seccion-formulario .div-general .div-formulario form .div-cabezera h2 {
    font-size: 50px;
    font-family: 'adieue';
}

.seccion-formulario .div-general .div-formulario form .div-cabezera p {
    font-size: 20px;
    font-family: 'adieue';
}

.seccion-formulario .div-general .div-formulario form .div-campo p {
    font-size: 20px;
    font-family: 'adieue';
}

.seccion-formulario .div-general .div-formulario form .div-campo input,
select {
    width: 100%;
    height: 40px;
    background: none;
    border: solid 2px rgb(241, 109, 34);
    font-size: 20px;
    font-family: 'adieue light';
}

.seccion-formulario .div-general .div-formulario form .div-campo textarea {
    width: 100%;
    height: 200px;
    background: none;
    border: solid 2px rgb(241, 109, 34);
    font-size: 20px;
    font-family: 'adieue light';
}

.seccion-formulario .div-general .div-formulario form .div-campo input,
textarea,
select:focus {
    outline: none;
}

.seccion-formulario .div-general .div-formulario form .boton {
    width: 190px;
    height: 40px;
    border: none;
    font-family: 'adieue';
    font-size: 20px;
    color: #fff;
    background-color: rgb(241, 109, 34);
}

@media (max-width: 767px) {
    .seccion-formulario .div-general {
        flex-direction: column;
    }
    .seccion-formulario .div-general .div-formulario {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .seccion-formulario .div-general .div-formulario form {
        text-align: center;
        width: 90%;
    }
    .seccion-formulario .div-general .div-formulario form .div-campo p {
        text-align: left;
    }
    .seccion-formulario .div-general .div-foto {
        margin-top: 10%;
        width: 100%;
    }
}

@media (max-width: 450px) {
    .seccion-formulario .div-general .div-foto img {
        width: 50%;
    }
    .seccion-formulario .div-general .div-formulario form .div-cabezera h2 {
        font-size: 35px;
    }
}


/* Estilos para la seccion de redes */

.seccion-redes {
    height: auto;
    width: 100%;
}

.seccion-redes .div-general {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 3%;
    margin-bottom: 5%;
}

.seccion-redes .div-general h2 {
    font-size: 50px;
    font-family: 'adieue';
}

.seccion-redes .div-iconos {
    width: 600px;
    display: flex;
    justify-content: space-around;
}

.seccion-redes .div-iconos a {
    text-decoration: none;
    font-size: 20px;
    color: rgb(162, 212, 10);
}

.seccion-redes .div-iconos a i {
    font-size: 60px;
}

@media (max-width: 600px) {
    .seccion-redes .div-iconos {
        width: 95%;
    }
    .seccion-redes .div-iconos a i {
        font-size: 50px;
    }
    .seccion-redes .div-general {
        margin-bottom: 10%;
    }
}


/* ---Estilos para la pagina de politicas de privacidad */

.titulo-politicas {
    height: 250px !important;
    background: linear-gradient( 180deg, rgba(215, 97, 172, 1) 0%, rgba(138, 136, 200, 1) 50%, rgba(8, 201, 247, 1) 100%) !important;
}

.seccion-texto {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
}

.seccion-texto .div-general {
    width: 90%;
    margin-top: 7%;
    margin-bottom: 7%;
}

.seccion-texto .div-general h3 {
    font-size: 27px;
    font-family: 'adieue';
}

.seccion-texto .div-general p,
li {
    font-size: 19px;
    text-align: justify;
    font-family: 'adieue light';
}

.seccion-texto .div-general .div-parrafo-2 .div-columna1 p {
    width: 95%;
}

.seccion-texto .div-general .div-parrafo-2 .div-columna2 {
    display: flex;
    justify-content: right;
}

.seccion-texto .div-general .div-parrafo-2 .div-columna2 p {
    width: 95%;
}

@media (max-width: 575px) {
    .seccion-texto .div-general .div-parrafo-2 .div-columna1 p {
        width: 100%;
    }
    .seccion-texto .div-general .div-parrafo-2 .div-columna2 {
        justify-content: center;
    }
    .seccion-texto .div-general .div-parrafo-2 .div-columna2 p {
        width: 100%;
    }
    .seccion-texto .div-general h3 {
        font-size: 25px;
        text-align: center;
    }
    .seccion-texto .div-general p {
        font-size: 18px;
    }
}