@font-face {
    font-family: "adieue";
    src: url("../tipografias/adineuePRO-Regular.ttf");
}

@font-face {
    font-family: "adieue light";
    src: url("../tipografias/adineueTEXT-Light.ttf");
}


/* Estilos navbar */

nav.navbar {
    background-color: rgb(255, 255, 255) !important;
}

.navbar .container-fluid .collapse .navbar-nav .nav-item a {
    font-family: "adieue";
    font-size: 17px;
}

@media (max-width: 991px) {
    .navbar .container-fluid .collapse .navbar-nav .subdiv-navbar {
        display: block;
        margin-right: 0;
    }
    .navbar .container-fluid .collapse .navbar-nav .nav-item button {
        width: 104% !important;
    }
}

.boton-explorar {
    margin-top: 4%;
    text-decoration: none;
    padding: 1% 5% 1% 5%;
    border: solid 2px #fff;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    font-family: "adieue";
}

#tidio-chat-iframe {
    margin-bottom: -30px !important;
}


/* Estilos para el modal de busqueda */

.body-scroll {
    overflow: hidden !important;
}

.div-modal {
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(28, 28, 28, 0.7);
}

.div-modal .contenedor-modal {
    width: 60%;
    padding-top: 2%;
    padding-bottom: 2%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    position: relative;
    transition: transform 1s;
    transform: translateY(0%);
}

.div-modal .modal-cerrar {
    transition: transform 1s;
    transform: translateY(-500%);
}

.div-modal .contenedor-modal .div-cuerpo {
    width: 90%;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px #ff6b00;
}

.div-modal .contenedor-modal .div-cuerpo .img-lupa {
    margin-right: 10px;
    width: 25px;
}

.div-modal .contenedor-modal .div-cuerpo .img-cerrar {
    width: 25px;
    cursor: pointer;
}

.div-modal .contenedor-modal .div-cuerpo input {
    border: none;
    width: 90%;
}

.div-modal .contenedor-modal .div-cuerpo input:focus {
    outline: none;
}

.div-modal .contenedor-modal .caja-resultados {
    width: 90%;
    height: 300px;
    overflow-y: auto;
    display: none;
}

.div-modal .contenedor-modal .caja-resultados ul {
    width: 90%;
    list-style: none;
    padding-left: 3%;
    padding-top: 3%;
}

.div-modal .contenedor-modal .caja-resultados ul li {
    height: 35px;
}

.div-modal .contenedor-modal .caja-resultados ul li a {
    text-decoration: none;
    color: rgb(102, 101, 101);
}

.div-modal .contenedor-modal .caja-resultados ul li a i {
    margin-right: 10px;
}

@media (max-width: 767px) {
    .div-modal .contenedor-modal {
        width: 90%;
    }
}


/* Estilos para la seccion de incio */

.seccion-inicio {
    height: 100vh;
    width: 100%;
    background: url("../images/KidzYa/KIDZ-fondo-min.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.seccion-inicio .div-general {
    position: absolute;
    height: 100%;
    width: 100%;
}

.seccion-inicio .div-general .div-imagenes {
    height: 75%;
    padding-top: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seccion-inicio .div-general .div-imagenes .imagen-producto {
    width: 30%;
    margin-right: -7%;
    z-index: 1;
}

.seccion-inicio .div-general .div-imagenes .imagen-logo {
    width: 45%;
}

.seccion-inicio .div-general .div-parrafo {
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.seccion-inicio .div-general .div-parrafo p {
    width: 40%;
    font-size: 30px;
    font-family: 'adieue light';
    color: #fff;
    line-height: 25px
}

@media (max-width: 950px) {
    .seccion-inicio .div-general .div-imagenes .imagen-producto {
        width: 35%;
    }
    .seccion-inicio .div-general .div-imagenes .imagen-logo {
        width: 50%;
    }
    .seccion-inicio .div-general .div-imagenes {
        height: 75%;
        padding-top: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 650px) {
    .seccion-inicio {
        margin-top: 9vh;
        height: 105vh;
    }
    .seccion-inicio .div-general .div-imagenes {
        flex-direction: column-reverse;
        padding-top: 0;
    }
    .seccion-inicio .div-general .div-imagenes .imagen-producto {
        width: 55%;
        margin-right: 0;
    }
    .seccion-inicio .div-general .div-imagenes .imagen-logo {
        width: 70%;
    }
    .seccion-inicio .div-general .div-parrafo p {
        width: 90%;
        font-size: 25px;
    }
    .seccion-inicio .div-fondo {
        position: absolute;
        height: 100vh;
        width: 100%;
        background: url("../images/KidzYa/KIDZ-fondo-m-min.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        z-index: -1;
    }
}

@media (max-width: 510px) {
    .seccion-inicio .div-general .div-parrafo p {
        line-height: 22px
    }
}

@media (max-width: 450px) {
    .seccion-inicio .div-general .div-imagenes .imagen-producto {
        width: 65%;
    }
    .seccion-inicio .div-general .div-imagenes .imagen-logo {
        width: 85%;
    }
    .seccion-inicio .div-general .div-parrafo p {
        width: 90%;
        font-size: 24px;
    }
}


/* Estilos para la seccion de informacion */

.seccion-informacion {
    height: 100vh;
    width: 100%;
}

.seccion-informacion .div-general {
    position: absolute;
    height: 100%;
    width: 100%;
}

.seccion-informacion .div-general .div-texto {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}

.seccion-informacion .div-general .div-texto .div-p {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.seccion-informacion .div-general .div-texto .div-p h2 {
    width: 65%;
    font-size: 40px;
    text-align: center;
    font-family: 'adieue';
}

.seccion-informacion .div-general .div-texto .div-p p {
    width: 90%;
    font-size: 24px;
    text-align: justify;
    font-family: 'adieue';
}

.seccion-informacion .div-fondo {
    position: absolute;
    height: 100vh;
    width: 100%;
    background: url("../images/KidzYa/KIDZ-imagen-para-seccion-Fondo-min.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: -1;
}

.seccion-informacion .div-general .div-imagen {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seccion-informacion .div-general .div-imagen img {
    width: 95%;
}

@media (max-width: 767px) {
    .seccion-informacion .div-general {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .seccion-informacion .div-general .div-texto {
        height: auto;
    }
    .seccion-informacion .div-general .div-imagen {
        height: auto;
    }
    .seccion-informacion .div-general .div-texto {
        align-items: center;
    }
}

@media (max-width: 450px) {
    .seccion-informacion .div-general .div-texto .div-p p {
        width: 90%;
        font-size: 21px;
    }
    .seccion-informacion .div-general .div-texto .div-p h2 {
        width: 90%;
        font-size: 40px;
    }
    .seccion-informacion .div-general .div-texto {
        margin-bottom: 15%;
    }
}


/* Estilos para la seccion de los 3 productos */

.seccion-productos {
    height: auto;
    width: auto;
}

.seccion-productos .div-prduc {
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seccion-productos .div-prduc img {
    width: 22%;
}

.seccion-productos .div-prduc .div-texto a {
    text-decoration: none;
    color: #fff;
    font-family: "adieue";
    font-size: 25px;
}

.seccion-productos .div-prduc .div-texto h2 {
    color: #fff;
    font-family: "adieue";
}

.seccion-productos .div-producto1 {
    background: rgb(80, 176, 77);
    background: linear-gradient(180deg, rgba(80, 176, 77, 1) 30%, rgba(253, 201, 8, 1) 100%);
}

.seccion-productos .div-producto2 {
    background: rgb(32, 62, 118);
    background: linear-gradient(180deg, rgba(32, 62, 118, 1) 30%, rgba(240, 192, 14, 1) 100%);
}

.seccion-productos .div-producto3 {
    background: rgb(10, 170, 227);
    background: linear-gradient(180deg, rgba(10, 170, 227, 1) 30%, rgba(236, 178, 200, 1) 100%);
}

@media (max-width: 880px) {
    .seccion-productos .div-prduc img {
        width: 35%;
    }
    .seccion-productos .div-prduc .div-texto a {
        font-size: 20px;
    }
    .seccion-productos .div-prduc .div-texto h2 {
        font-size: 18px;
    }
}

@media (max-width: 575px) {
    .seccion-productos .div-prduc .div-texto a {
        font-size: 25px;
    }
    .seccion-productos .div-prduc .div-texto h2 {
        color: #fff;
        font-size: 20px;
    }
    .seccion-productos .div-prduc img {
        width: 20%;
    }
    .seccion-productos .div-producto1 img {
        margin-left: -4.5%;
    }
}


/* Estilos para la seccion de producto 1 */

.div-minitoYa {
    height: auto;
    padding-top: 4%;
    padding-bottom: 4%;
    background: rgb(32, 62, 118);
    background: linear-gradient(180deg, rgba(32, 62, 118, 1) 30%, rgba(240, 192, 14, 1) 100%);
}

.div-DoreYa .div-producto {
    height: auto;
    display: flex;
    justify-content: right;
    align-items: center;
}

.div-DoreYa .div-producto .div-producto-general {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-DoreYa .div-producto .div-producto-general .div-flecha-dore {
    position: absolute;
    margin-left: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.div-DoreYa .div-producto .div-producto-general .div-flecha-dore p {
    margin-bottom: -3%;
    margin-right: 9%;
    font-family: "adieue";
    font-size: 25px;
    color: #fff;
    text-align: center;
}

.div-DoreYa .div-producto .div-producto-general img {
    width: 50%;
    margin-left: -38%;
}

.div-DoreYa .div-info {
    height: auto;
    display: flex;
    justify-content: left;
    align-items: center;
}

.div-DoreYa .div-info .div-text {
    width: 90%;
    text-align: left;
}

.div-DoreYa .div-info .div-text h2 {
    font-family: "adieue";
    font-size: 55px;
    color: #fff;
}

.div-DoreYa .div-info .div-text p {
    font-family: "adieue";
    font-size: 30px;
    text-align: justify;
    color: #fff;
}

@media (max-width: 850px) {
    .div-DoreYa,
    .div-multiYa {
        height: auto !important;
        padding-top: 10% !important;
        padding-bottom: 10% !important;
    }
    .div-DoreYa .div-producto {
        height: auto;
    }
    .div-DoreYa .div-info,
    .div-info-2 {
        height: auto !important;
        justify-content: center !important;
    }
}

@media (max-width: 767px) {
    .div-DoreYa .div-general {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .div-DoreYa .div-producto .div-producto-general {
        justify-content: center;
        width: 100%;
    }
    .div-DoreYa .div-producto .div-producto-general img {
        width: 40%;
        margin-left: 1%;
    }
    .div-DoreYa .div-producto .div-producto-general .div-flecha-dore {
        margin-left: 55%;
    }
    .div-DoreYa .div-info,
    .div-info-2 {
        justify-content: center !important;
    }
    .div-DoreYa .div-info .div-text,
    .div-text-2 {
        width: 95% !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        flex-direction: column !important;
        text-align: center !important;
    }
    .div-DoreYa .div-info .div-text p {
        width: 95%;
        text-align: justify !important;
    }
    /*  */
    .div-DoreYa .div-producto .div-producto-general .div-flecha-multiYa {
        margin-right: 100% !important;
    }
    .div-DoreYa .div-info-2 {
        margin-bottom: 10% !important;
    }
}

@media (max-width: 450px) {
    .div-DoreYa .div-producto .div-producto-general .div-flecha-dore {
        margin-left: 60%;
    }
    .div-DoreYa .div-producto .div-producto-general .div-flecha-dore p {
        margin-bottom: -3%;
        margin-right: -5%;
        font-size: 23px;
    }
    .div-DoreYa .div-info {
        height: auto;
        justify-content: center;
    }
    .div-DoreYa .div-info .div-text {
        width: 90%;
        text-align: center;
    }
    .div-DoreYa .div-info .div-text h2 {
        font-size: 40px;
    }
    .div-DoreYa .div-info .div-text p {
        font-size: 20px;
    }
    .div-DoreYa .div-producto .div-producto-general .img1 {
        margin-right: 25%;
    }
    .div-DoreYa .div-producto .div-producto-general .flecha1 {
        margin-right: 20%;
    }
}


/* Estilos para  la seccion del producto 2 */

.div-multiYa {
    height: auto;
    padding-top: 4%;
    padding-bottom: 4%;
    background: rgb(80, 176, 77);
    background: linear-gradient(180deg, rgba(80, 176, 77, 1) 30%, rgba(253, 201, 8, 1) 100%);
}

.div-multiYa-movil {
    display: none;
}

.div-DoreYa .div-info-2 {
    height: auto;
    display: flex;
    justify-content: right;
    align-items: center;
}

.div-DoreYa .div-info .div-text-2 {
    width: 87%;
    text-align: left;
}

.div-DoreYa .div-producto .div-producto-general .img-multiYa {
    width: 40%;
    margin-right: -30%;
}

.div-DoreYa .div-producto .div-producto-general .div-flecha-multiYa {
    margin-right: 50%;
}

.div-DoreYa .div-producto .div-producto-general .div-flecha-multiYa p {
    width: 140%;
}

@media (max-width: 767px) {
    .div-multiYa-movil {
        display: flex;
    }
    .div-multiYa-escritorio {
        display: none;
    }
}

@media (max-width: 450px) {
    .div-DoreYa .div-producto .div-producto-general .div-flecha-multiYa {
        margin-left: 50%;
    }
    .div-DoreYa .div-producto .div-producto-general .img-multiYa {
        width: 45%;
        margin-right: -25%;
    }
}

.div-ProtecYa {
    padding-top: 4%;
    padding-bottom: 4%;
    background: rgb(10, 170, 227);
    background: linear-gradient(180deg, rgba(10, 170, 227, 1) 30%, rgba(236, 178, 200, 1) 100%);
}


/* Estilos para el footer */

footer {
    width: 100%;
    height: auto;
    padding-top: 3%;
    padding-bottom: 50px;
    background-color: #ffa400;
}

footer .div-logo {
    height: auto;
    display: flex;
    align-items: center;
}

footer .div-logo img {
    margin-left: 5%;
    width: 200;
    height: 98;
}

footer .div-leyenda {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .div-leyenda p {
    width: 85%;
    font-family: "adieue";
    font-size: 20px;
    color: #fff;
    text-align: center;
}

footer .div-leyenda p a {
    text-decoration: none;
    color: #fff;
}

footer .div-redes-sociales {
    height: auto;
    display: flex;
    align-items: center;
}

footer .div-redes-sociales .div-iconos {
    width: 100%;
    display: flex;
    justify-content: right;
}

footer .div-redes-sociales .div-iconos a {
    margin-left: 5%;
    font-size: 25px;
    color: #fff;
}

@media (max-width: 575px) {
    footer .div-logo {
        justify-content: center;
    }
    footer .div-redes-sociales .div-iconos {
        justify-content: center;
    }
}