@font-face {
    font-family: "adieue";
    src: url("../tipografias/adineuePRO-Regular.ttf");
}

@font-face {
    font-family: "adieue light";
    src: url("../tipografias/adineueTEXT-Light.ttf");
}

nav.navbar {
    background-color: rgb(255, 255, 255) !important;
}

.navbar .container-fluid .collapse .navbar-nav .nav-item a {
    font-family: "adieue";
    font-size: 17px;
}

#tidio-chat-iframe {
    margin-bottom: -30px !important;
}


/* Estilos para el modal de busqueda */

.body-scroll {
    overflow: hidden !important;
}

.div-modal {
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(28, 28, 28, 0.7);
}

.div-modal .contenedor-modal {
    width: 60%;
    padding-top: 2%;
    padding-bottom: 2%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    position: relative;
    transition: transform 1s;
    transform: translateY(0%);
}

.div-modal .modal-cerrar {
    transition: transform 1s;
    transform: translateY(-500%);
}

.div-modal .contenedor-modal .div-cuerpo {
    width: 90%;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px #ff6b00;
}

.div-modal .contenedor-modal .div-cuerpo .img-lupa {
    margin-right: 10px;
    width: 25px;
}

.div-modal .contenedor-modal .div-cuerpo .img-cerrar {
    width: 25px;
    cursor: pointer;
}

.div-modal .contenedor-modal .div-cuerpo input {
    border: none;
    width: 90%;
}

.div-modal .contenedor-modal .div-cuerpo input:focus {
    outline: none;
}

.div-modal .contenedor-modal .caja-resultados {
    width: 90%;
    height: 300px;
    overflow-y: auto;
    display: none;
}

.div-modal .contenedor-modal .caja-resultados ul {
    width: 90%;
    list-style: none;
    padding-left: 3%;
    padding-top: 3%;
}

.div-modal .contenedor-modal .caja-resultados ul li {
    height: 35px;
}

.div-modal .contenedor-modal .caja-resultados ul li a {
    text-decoration: none;
    color: rgb(102, 101, 101);
}

.div-modal .contenedor-modal .caja-resultados ul li a i {
    margin-right: 10px;
}

@media (max-width: 767px) {
    .div-modal .contenedor-modal {
        width: 90%;
    }
}


/* Estilos para la seccion inicio */

.seccion-inicio {
    height: auto;
    width: 100%;
    margin-top: 15vh;
}

.seccion-inicio .fondo {
    height: auto !important;
    width: 100% !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center center !important;
    z-index: -1 !important;
}

.seccion-inicio .fondo img {
    width: 100% !important;
}

.seccion-informacion .div-fecha {
    width: 100%;
    margin-top: 2%;
    text-align: center;
}

.seccion-informacion .div-fecha p {
    font-family: 'adieue light';
    font-size: 19px;
    color: rgb(58, 58, 58);
}

.seccion-informacion .div-texto {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.seccion-informacion .div-texto .div-titulo {
    width: 90%;
    margin-top: 5%;
    margin-bottom: 4%;
    text-align: center;
}

.seccion-informacion .div-texto .div-titulo h1 {
    font-size: 50px;
    font-family: 'adieue';
}

.seccion-informacion .div-texto .div-cuerpo {
    width: 65%;
}

.seccion-informacion .div-texto .div-cuerpo p,
li {
    font-family: 'adieue';
    font-size: 22px;
    text-align: justify;
}

.seccion-informacion .div-texto .div-cuerpo li p {
    margin-left: -1.8%;
}

.seccion-informacion .div-texto .div-cuerpo ol {
    margin-left: -2%;
}

.seccion-informacion .div-redes {
    width: 45%;
    margin-top: 3%;
    padding-top: 2%;
    text-align: center;
    border-top: solid 2px rgb(162, 212, 10);
}

.seccion-informacion .div-redes a {
    text-decoration: none;
    color: rgb(255, 106, 0);
}

.seccion-informacion .div-redes a i {
    font-size: 40px;
}

.seccion-informacion .div-redes .fa-facebook-f {
    margin-right: 6%;
}

@media (max-width: 767px) {
    .seccion-informacion .div-texto .div-titulo {
        width: 95%;
    }
    .seccion-informacion .div-texto .div-titulo h1 {
        font-size: 40px;
    }
    .seccion-informacion .div-texto .div-cuerpo {
        width: 90%;
    }
    .seccion-informacion .div-redes {
        width: 55%;
        padding-top: 3%;
    }
}

@media (max-width: 450px) {
    .seccion-informacion .div-texto .div-titulo h1 {
        font-size: 30px;
    }
    .seccion-informacion .div-texto .div-cuerpo p,
    li {
        font-size: 20px;
    }
    .seccion-informacion .div-texto .div-cuerpo ol {
        margin-left: -6%;
    }
    .seccion-informacion .div-texto .div-cuerpo li p {
        margin-left: -3%;
    }
    .seccion-informacion .div-fecha {
        width: 100%;
        margin-top: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .seccion-informacion .div-fecha p {
        width: 90%;
    }
    .seccion-informacion .div-redes {
        margin-top: 5%;
        padding-top: 5%;
    }
    .seccion-informacion .div-redes .fa-facebook-f {
        margin-right: 10%;
    }
    .seccion-comentarios .div-comen p {
        text-align: center;
        font-size: 25px;
    }
}


/* Estilos para el carrusel */

.seccion-duosya {
    position: relative;
    height: auto;
    margin-top: 5%;
}

.seccion-duosya .swiper-container .swiper-wrapper .swiper-slide {
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.seccion-duosya .swiper-container .swiper-wrapper .swiper-slide .div-text a {
    text-align: center;
    text-decoration: none;
    width: 75%;
    margin-top: 4%;
    font-family: "adieue";
    font-size: 20px;
    color: #000;
}

.seccion-duosya .swiper-container .swiper-wrapper .swiper-slide img {
    width: 75%;
}

.seccion-duosya .swiper-container .swiper-wrapper .swiper-slide .div-text {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seccion-duosya .swiper-button-prev,
.swiper-button-next {
    color: rgb(104, 102, 102) !important;
    cursor: pointer !important;
    margin-top: -11vh !important;
}

@media (max-width: 450px) {
    .seccion-duosya {
        margin-top: 10%;
        margin-bottom: 10%;
    }
    .seccion-duosya .swiper-button-prev,
    .swiper-button-next {
        margin-top: -9vh !important;
    }
}


/* Estilos para la seccion de comentarios */

.seccion-comentarios {
    display: flex;
    padding-top: 5%;
    padding-bottom: 5%;
    justify-content: center;
    align-items: center;
}

.seccion-comentarios .div-comen {
    width: 65%;
    display: flex;
    flex-direction: column;
}

.seccion-comentarios .div-comen p {
    font-family: 'adieue';
    font-size: 30px;
}

.seccion-comentarios .div-comen textarea {
    width: 100%;
    padding-left: 1%;
    background: none;
    border: solid 2px rgb(255, 106, 0);
    font-family: 'adieue light';
    font-size: 20px;
}

.seccion-comentarios .div-comen textarea,
select:focus {
    outline: none;
}

.seccion-comentarios .div-comen button {
    width: 200px;
    height: 45px;
    margin-top: 3%;
    background-color: rgb(255, 106, 0);
    border: none;
    font-family: 'adieue';
    color: #fff;
    font-size: 20px;
}

@media (max-width: 767px) {
    .seccion-comentarios .div-comen {
        width: 90%;
    }
}


/* Estilos para el footer */

footer {
    width: 100%;
    height: auto;
    padding-top: 3%;
    padding-bottom: 50px;
    background-color: #ffa400;
}

footer .div-logo {
    height: auto;
    display: flex;
    align-items: center;
}

footer .div-logo img {
    margin-left: 5%;
    width: 200;
    height: 98;
}

footer .div-leyenda {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .div-leyenda p {
    width: 85%;
    font-family: "adieue";
    font-size: 20px;
    color: #fff;
    text-align: center;
}

footer .div-leyenda p a {
    text-decoration: none;
    color: #fff;
}

footer .div-redes-sociales {
    height: auto;
    display: flex;
    align-items: center;
}

footer .div-redes-sociales .div-iconos {
    width: 100%;
    display: flex;
    justify-content: right;
}

footer .div-redes-sociales .div-iconos a {
    margin-left: 5%;
    font-size: 25px;
    color: #fff;
}

@media (max-width: 575px) {
    footer .div-logo {
        justify-content: center;
    }
    footer .div-redes-sociales .div-iconos {
        justify-content: center;
    }
}