@font-face {
    font-family: "adieue";
    src: url("../tipografias/adineuePRO-Regular.ttf");
}

#slides {
    position: absolute;
    height: 100vh;
}

#slides .slides-container {
    display: none;
    z-index: -4;
    height: 100vh;
}

#slides .slides-container .imagen1-carrusel {
    background: url(../images/Home-carrusel-px-1-min.png);
    width: 100vw;
    height: 100vh;
}

#slides .slides-container .imagen2-carrusel {
    background: url(../images/imagen2-carrusel/Asociados-Fondo-min.png);
    width: 100vw;
    height: 100vh;
}

#slides .slides-container .imagen3-carrusel {
    background: url(../images/imagen3-app-carrusel/App-Fondo-min.png);
    width: 100vw;
    height: 100vh;
}

#slides .slides-container .imagen4-carrusel {
    background: url(../images/imagen-HiddenTag-carrusel/HiddenTag-Fondo-min.png);
    width: 100vw;
    height: 100vh;
}

#slides .slides-container .imagen5-carrusel {
    background: url(../images/imagen-raizes/Raices-Fondo2-min.png);
    width: 100vw;
    height: 100vh;
}

#slides .slides-container .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}


/* Estilos para la primera imagen */

#slides .slides-container .contenedor1 {
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    padding-bottom: 3%;
    margin-left: 10%;
}

#slides .slides-container .contenedor1 img {
    width: 60%;
    margin-bottom: 1%;
}

#slides .slides-container .contenedor1 p {
    font-size: 30px;
    width: 40%;
    font-weight: bold;
    font-family: 'adieue';
    color: #fff;
}

#slides .slides-container .contenedor1 button {
    width: 170px;
    height: 40px;
    border: none;
    background-color: rgb(147, 213, 9);
    color: #fff;
    font-size: 23px;
}

@media (max-width: 775px) {
    #slides .slides-container .contenedor1 {
        justify-content: flex-end;
        align-items: center;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        padding-bottom: 10%;
    }
    #slides .slides-container .contenedor1 p {
        width: 90%;
        text-align: center;
    }
}

@media (max-width: 500px) {
    #slides .slides-container .contenedor1 {
        justify-content: center;
    }
    #slides .slides-container .contenedor1 img {
        width: 90%;
    }
    #slides .slides-container .contenedor1 p {
        font-size: 25px;
    }
}

@media (max-width: 450px) {
    #slides .slides-container .imagen1-carrusel {
        background: url(../images/Carrusel-movil-3-min.png);
    }
    #slides .slides-container .contenedor1 {
        height: 100vh;
        width: 100vw;
        display: flex;
        align-items: center;
        padding-bottom: 0;
        margin-left: 0;
    }
    #slides .slides-container .contenedor1 .div-titulo {
        width: 100%;
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #slides .slides-container .contenedor1 .div-abajo {
        width: 100%;
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 10%;
    }
}


/* Estilos para la imagen de asociados */

#slides .slides-container .contenedor-asociados {
    height: 100vh;
    width: 100vw;
}

#slides .slides-container .contenedor-asociados .div-imagen {
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

#slides .slides-container .contenedor-asociados .div-imagen .imagen-texto {
    display: none;
}

#slides .slides-container .contenedor-asociados .div-imagen .imagen-persona {
    width: 40vw;
}

#slides .slides-container .contenedor-asociados .div-textos {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#slides .slides-container .contenedor-asociados .div-textos img {
    width: 45vw;
    margin-right: 10%;
}

@media (max-width: 991px) {
    #slides .slides-container .contenedor-asociados .div-imagen .imagen-texto {
        width: 55%;
        margin-bottom: 8%;
        display: flex;
    }
    #slides .slides-container .contenedor-asociados .div-imagen .imagen-persona {
        margin-top: 0;
        margin-right: 0;
        width: 60%;
    }
    #slides .slides-container .contenedor-asociados .div-textos {
        display: none;
    }
}

@media (max-width: 767px) {
    #slides .slides-container .contenedor-asociados .div-imagen .imagen-texto {
        width: 70%;
        margin-bottom: 5%;
    }
    #slides .slides-container .contenedor-asociados .div-imagen .imagen-persona {
        width: 85%;
    }
}

@media (max-width: 450px) {
    #slides .slides-container .contenedor-asociados .div-imagen .imagen-texto {
        width: 90%;
        margin-bottom: 8%;
    }
    #slides .slides-container .contenedor-asociados .div-imagen .imagen-persona {
        width: 110%;
    }
    #slides .slides-container .imagen2-carrusel {
        background: url(../images/imagen2-carrusel/Asociados-Fondo-Movil-min.png);
    }
}


/* Estilos para la imagen de mobile app */

#slides .slides-container .contenedor-app {
    height: 100vh;
    width: 100vw;
    display: block;
}

#slides .slides-container .contenedor-app .div-celular-izquierdo {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#slides .slides-container .contenedor-app .div-celular-izquierdo img {
    width: 75%;
}

#slides .slides-container .contenedor-app .div-central {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#slides .slides-container .contenedor-app .div-central .imagen-mobil-app {
    margin-top: 25%;
    width: 95%;
}

#slides .slides-container .contenedor-app .div-central .imagen-celular {
    display: none;
}

#slides .slides-container .contenedor-app .div-central .imagen-silueta {
    width: 85%;
}

#slides .slides-container .contenedor-app .div-central .div-tiendas {
    display: flex;
    justify-content: center;
    align-items: center;
}

#slides .slides-container .contenedor-app .div-central .div-tiendas img {
    width: 35%;
}

#slides .slides-container .contenedor-app .div-celular-derecho {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#slides .slides-container .contenedor-app .div-celular-derecho img {
    width: 75%;
}

@media (max-width: 991px) {
    #slides .slides-container .contenedor-app .div-celular-izquierdo {
        display: none;
    }
    #slides .slides-container .contenedor-app .div-celular-derecho {
        display: none;
    }
    #slides .slides-container .contenedor-app .div-central .imagen-mobil-app {
        margin-top: 11%;
        width: 45%;
    }
    #slides .slides-container .contenedor-app .div-central .imagen-celular {
        width: 30%;
        display: flex;
    }
    #slides .slides-container .contenedor-app .div-central .imagen-silueta {
        width: 35%;
    }
    #slides .slides-container .contenedor-app .div-central .div-tiendas img {
        width: 30%;
    }
}

@media (max-width: 767px) {
    #slides .slides-container .contenedor-app .div-central .imagen-mobil-app {
        margin-top: 15%;
        width: 60%;
    }
    #slides .slides-container .contenedor-app .div-central .imagen-celular {
        width: 40%;
        display: flex;
    }
    #slides .slides-container .contenedor-app .div-central .imagen-silueta {
        width: 50%;
    }
    #slides .slides-container .contenedor-app .div-central .div-tiendas img {
        width: 30%;
    }
}

@media (max-width: 450px) {
    #slides .slides-container .contenedor-app .div-central .imagen-mobil-app {
        width: 60%;
    }
    #slides .slides-container .contenedor-app .div-central .imagen-celular {
        width: 45%;
        display: flex;
    }
    #slides .slides-container .contenedor-app .div-central .imagen-silueta {
        width: 55%;
        margin-top: -7%;
    }
    #slides .slides-container .contenedor-app .div-central .div-tiendas img {
        width: 30%;
    }
    #slides .slides-container .imagen3-carrusel {
        background: url(../images/imagen3-app-carrusel/App-Fondo-Movil-min.png);
    }
}


/* Estilos para la imagen de HiddenTag */

#slides .slides-container .div-HiddenTag {
    height: 100vh;
    width: 100vw;
    display: block;
}

#slides .slides-container .div-codigoQR {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#slides .slides-container .div-codigoQR img {
    width: 120%;
    margin-top: 30%;
    margin-left: 40%;
    z-index: 1;
}

#slides .slides-container .div-productos {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

#slides .slides-container .div-productos .imagen-titulo {
    width: 50%;
    margin-top: 5%;
    margin-bottom: -5%;
    margin-left: 10%;
}

#slides .slides-container .div-productos .imagen-codigoQR {
    display: none;
}

#slides .slides-container .div-productos .imagen-productos {
    width: 75%;
    z-index: 2;
}

@media (max-width: 991px) {
    #slides .slides-container .div-codigoQR {
        align-items: center;
    }
    #slides .slides-container .div-codigoQR img {
        width: 160%;
        margin-top: 70%;
        margin-left: 0;
        margin-right: 10%;
    }
    #slides .slides-container .div-productos {
        justify-content: center;
        align-items: center;
    }
    #slides .slides-container .div-productos .imagen-titulo {
        width: 75%;
        margin-bottom: -7%;
        margin-left: 0%;
        margin-right: 7%;
        margin-top: 10%;
    }
    #slides .slides-container .div-productos .imagen-productos {
        width: 110%;
    }
}

@media (max-width: 767px) {
    #slides .slides-container .div-codigoQR {
        display: none;
    }
    #slides .slides-container .div-productos .imagen-codigoQR {
        display: flex;
    }
    #slides .slides-container .div-productos {
        justify-content: flex-end;
        align-items: center;
    }
    #slides .slides-container .div-productos .imagen-titulo {
        width: 70%;
        margin-bottom: 0%;
        margin-left: 0;
        margin-right: 0;
    }
    #slides .slides-container .div-productos .imagen-codigoQR {
        width: 50%;
        margin-bottom: -15%;
        margin-left: 0%;
    }
    #slides .slides-container .div-productos .imagen-productos {
        width: 80%;
        margin-bottom: 4%;
        z-index: 2;
    }
}

@media (max-width: 450px) {
    #slides .slides-container .div-productos {
        justify-content: center;
        align-items: center;
    }
    #slides .slides-container .div-productos .imagen-titulo {
        width: 80%;
        margin-bottom: 10%;
    }
    #slides .slides-container .div-productos .imagen-codigoQR {
        width: 70%;
        margin-bottom: -22%;
        margin-right: 20%;
    }
    #slides .slides-container .div-productos .imagen-productos {
        width: 85%;
        margin-bottom: 4%;
        z-index: 2;
    }
    #slides .slides-container .imagen4-carrusel {
        background: url(../images/imagen-HiddenTag-carrusel/HiddenTag-Fondo-Movil-min.png);
    }
}


/* Estilos para la imagen de raizes */

#slides .slides-container .div-raizes {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#slides .slides-container .div-raizes .imagen-productos {
    width: 110vw;
    margin-bottom: 13%;
}

#slides .slides-container .div-raizes .imagen-productos-movil {
    display: none;
}

#slides .slides-container .div-raizes .imagen-titulo {
    width: 18vw;
    margin-right: 15%;
}

@media (max-width: 991px) {
    #slides .slides-container .div-raizes {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column-reverse;
    }
    #slides .slides-container .div-raizes .imagen-productos {
        margin-right: 0;
        margin-top: 0;
        position: relative;
    }
    #slides .slides-container .div-raizes .imagen-titulo {
        position: relative;
        margin-left: 0;
        margin-bottom: 0;
        margin-top: 25%;
        margin-bottom: 0;
    }
}

@media (max-width: 767px) {
    #slides .slides-container .div-raizes .imagen-productos {
        width: 100vw;
    }
    #slides .slides-container .div-raizes .imagen-titulo {
        width: 40vw;
    }
}

@media (max-width: 450px) {
    #slides .slides-container .div-raizes .imagen-productos {
        width: 160vw;
        margin-left: 0;
        margin-top: -25%;
    }
    #slides .slides-container .div-raizes .imagen-titulo {
        width: 60vw;
        margin-left: 0;
        margin-bottom: 0;
        margin-top: 20%;
        margin-bottom: 1%;
    }
}

#slides .scrollable {
    *zoom: 1;
    position: relative;
    top: 0;
    left: 0;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    height: 100%;
}

#slides .scrollable:after {
    content: "";
    display: table;
    clear: both;
}

.slides-navigation {
    margin: 0 auto;
    position: absolute;
    z-index: 3;
    top: 46%;
    width: 100%;
}

.slides-navigation a {
    position: absolute;
    display: block;
}

.slides-navigation a.prev {
    left: 2%;
    text-decoration: none;
}

.slides-navigation a.next {
    right: 2%;
    text-decoration: none;
}

@media (max-width: 450px) {
    .slides-navigation a.prev img {
        width: 80%;
    }
    .slides-navigation a.next img {
        width: 80%;
    }
}